*{
    margin: 0;
}

.topofpage{
  padding: 0.5vw;
  display: flex;
  align-items: flex-start;
  height:4.5vw;
  width: 96vw;
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
      
}
.topofpage IMG{
margin-left: 3vw;
margin-right: 3vw;
}

.topofpage h1{
  margin-left: 18vw;
  font-size: 1.5vw;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-style: italic;
  font-weight: 1000;

  }
#hide{
  width: 72vw;
  height: 1.5vw;
  background-color: orange;
  top: 1.8vw;
  left: 15vw;
  position: absolute;
  transition: 4s;
  color:  orange;
}
#Logo1{
  width: 10vw;
  height: 4vw;
  transition: 1s;
  top: 0.5vw;
  left: 0.5vw;
  position: absolute;
}
#Logo2{
  width: 3vw;
  height: 3vw;
  transition: 4s;
  top: 1vw;
  left: 13.5vw;
  position: absolute;
  margin-left: 0vw;
}
#Logo3{
  width: 3vw;
  height: 3vw;
  transition: 4s;
  top: 1vw;
  left: 16.5vw;
  position: absolute;
  margin-left: 0vw;
}

#Logo1:hover{
  margin-left: 8vw;
}

#shopcart{
  width: 5vw;
  height: 5vw;
  top: 0vw;
  left: 90vw;
  position: absolute;
  transition: 1s;
}

#shopcart:hover{
  transform: rotate(360deg);
}

#title{
    font-size: 2vw;
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 1000;
    color: black;
    margin-left: 7.5vw;
    margin-top: 1vw;

}
#nav{
  padding:0 1vw;
  width: 96vw;
  margin-left: auto;
  margin-right: auto; 
  top: 4.5vw;
  left: 2vw;
  position: absolute;
  background-color: orange;
  border: 0ch;
  color: white;
}


.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  color: #fff;
  background-color: orange;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
  font-weight: 800;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
  font-weight: 800;
}

#Searchsection{
  margin-left: 7.5vw;
  margin-top: 1vw;
}

#offre{
    font-size: 1.2vw;
    font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    color: black;
    margin-left: 7.5vw;

}


.items{
    margin-top: 4.2vw;
    margin-left: 1.6vw;
    width: 230px;
    height: 290px;
    background-color: whitesmoke;
    position: relative;

}

.etiquette{
    display: flex;
    flex-direction: column;
  
    }
    
.etiquette img{
    grid-column: 3;
    grid-row: 2; 
    margin-left: 3vw;
    margin-top: 0.6vw;
    width: 1.5vw;
    height: 1.5vw;
    filter: grayscale(100%);
    cursor: pointer;
 }

 .likeimg{
     filter: grayscale(0%);
     width: 1.5vw;

 }


 .etiquette img:hover {
    filter: grayscale(0%);
  }

.items .h1{
    font-size: 15px;
    width: 200px;
    font-family: 'Roboto', sans-serif;
}

.items .p{
    font-size: 12px;
    width: 100px;
    font-family: 'Roboto', sans-serif;
}

.items button{
    font-size: 15px;
    font-weight: 750;
    text-align: center;
    font-family: "Roboto",Arial,sans-serif; 
    width: 60px;
    height: 30px;
    margin-left: 150px;


 
}



.items:hover{
box-shadow: 1vw 1vw 1vw 0.1vw rgba(0, 0, 255, .2);
}




.items:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}           
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}


.cart {
  position: absolute;
  height: 50rem;
  top: 7.1vw;
  right: 4vw;
  background-color: white;
  transition: all 0.3s ease-in-out;
  width: 0vw;
  overflow: hidden;
}


#container{
  height: 12vw;
  width: 36.8vw;
  margin-left: 0;
  overflow: scroll;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}
#container div{
 display: flex;
 align-items: center;

}

#container button{
  height: 1.2vw;
  width: 1.6vw;
  line-height: 0;
}
button{
  width: 6.4vw;
  line-height: 0;
}

.containeritems{
font-size: 1.12vw;

}
titre{
  width: 10vw;
  height: 1.6vw;
  overflow: hidden;

}
prix{
  font-size: 1vw;
  width: 10vw;
  color: red;
  text-align: center;
}
Qté{
  width: 1.6vw;
  text-align: center;
}

.btn-success{
  filter:greyscale(100%);

}

.show-cart {
  width: 37.2vw;
  padding: 0vw 0vw;
  transform: rotateY(-360deg);
}

  .itemsnumber{
    right: 4vw;
    top: 0.4vw;
    height: 1.5vw;
    color: transparent;
    font-size: 0.7vw;
    font-weight: 600;
    position: absolute;
    border-radius: 50%;
    min-width: 1.5vw;
  }

  #itemsnumber{
    padding: 0.24vw 0.4vw;
    text-align: CENTER;
  }

  .paymentwindow{
    display: none;
    margin-top: 1vw;
    margin-left: 24vw;
    margin-right: auto;
    width: 32vw;
    align-items: center;
    background-color: rgb(227, 235, 238);
    position: absolute;
    top:5vw;
    left:16vw;
    border: 0.01vw;
    border-color: black;
    border-style:solid;
    border-radius: 0.8vw; 
  }

  .paymentwindow button{
    margin-top: 0.8vw;
    margin-bottom: 0.8vw;
    height: 2.4vw;
    margin-left: 1.6vw;
  }

  .PayForm{
    margin-left: 1.6vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #itemscontainer{
    height: 10vw;
  }

  .footer{
    padding: 0.5vw 1vw;
    background-color: orange;
    font-weight: 600;
    align-items: center;
    font-size: 0.5vw;
    
}
.footer h6{
    font-size: 0.6vw;
    
}
.footer img{
    transition: transform .2s;
    vertical-align: middle;
    width:  auto;
    height: auto;

}

.footer img:hover{
    transform: scale(1.4); 

}





