body{
  padding: 0vw 2vw;
  background-position: 2vw 29vw;
  height: 48vw;
  background-repeat: no-repeat;
  opacity: 4;
 }
 
 *{
     margin: 0;
 }
 
 .topofpage{
     padding: 0.5vw;
     display: flex;
     align-items: flex-start;
     height:4.7vw;
     width: 96vw;
     margin-left: auto;
     margin-right: auto;
     background-color: orange;
     position: fixed;
         
 }
 .topofpage IMG{
 margin-left: 3vw;
 margin-right: 3vw;
 }
 
 .topofpage h1{
     margin-left: 18vw;
     font-size: 1.5vw;
     font-family: 'Times New Roman', Times, serif;
     color: white;
     font-style: italic;
     font-weight: 1000;
  
     }
 #hide{
     width: 72vw;
     height: 1.5vw;
     background-color: orange;
     top: 1.8vw;
     left: 15vw;
     position: absolute;
     transition: 4s;
     color:  orange;
 }
 #nav{
   width: 96vw;
   margin-left: auto;
   margin-right: auto; 
   background-color: orange;
   border-color: orange; 
   color: white;
   top: 4vw;
   left: 2vw;
   position: absolute;
  
 }
 #myNavbar a {
     margin-left: 1vw;
     font-size: 0.6vw;
     color: white;
     font-weight: 800;
   }
 #myNavbar #Lien{
     color: black;
  }
 
 .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
     color: #fff;
     background-color: #080808;
 }
 
 #Logo1{
     width: 10vw;
     height: 4vw;
     transition: 1s;
     top: 0.5vw;
     left: 0.5vw;
     position: absolute;
 }
 #Logo2{
     width: 3vw;
     height: 3vw;
     transition: 4s;
     top: 1vw;
     left: 13.5vw;
     position: absolute;
     margin-left: 0vw;
 }
 #Logo3{
     width: 3vw;
     height: 3vw;
     transition: 4s;
     top: 1vw;
     left: 16.5vw;
     position: absolute;
     margin-left: 0vw;
 }
 
 
 #Logo1:hover{
     margin-left: 8vw;
 }
 

html,
body {
  height: 100%;
  overscroll-behavior: none;
}
.wrapper {
  height: 100%;
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  word-spacing: 2px;
  letter-spacing: 0.5px;
  text-align: center;
}
.fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  color: #eeeeee;
  text-align: center;
  display: table;
}
.fixed h3 {
  display: table-cell;
  vertical-align: middle;
}
.scroll {
  background-color: white;
  padding: 10px 70px;
  color: black;
}
.one {
  background-image: url("/Images/Station/BI.jpg");
}
.two {
  background-image: url("/Images/Station/BI2.jpg");
}
.three {
  background-image: url("/Images/Station/BI3.jpg");
}
.for {
    background-image: url("/Images/Station/BI4.jpg");
}
.five {
    background-image: url("/Images/Station/BI5.jpg");
}
    

.container{
    margin-top: 50px;
    background-color: white;
    height: 850px;
}

#logo{
    width: 25vw;
    height: 24vw;
    position: absolute;
    top: 2vw;
    left: 25vw;
}

#logoTop:hover{
    margin-left: 8vw;
}

.ContactForm{
    position: relative;
    padding: 10PX 10PX;
    border: 0.01vw;
    border-color: black;
    border-style:solid;
    border-radius: 0.8vw; 
    margin-left: 1.6vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 10px;
  }

.ContactForm .button{

    margin-top: 0.8vw;
    height: 2vw;
    margin-left: auto;
    margin-right: auto;

    
  }


#Welcome{
    position: absolute;
    width: 10vw;
    top: 5vw;
    left: 37vw;
    font-weight: 1000;
}
